:root {
  --bg: #1b1b2a;
  --bg_hc: #2a2a51;
  --fg: #e4e4d4;
  --fg_hc: #fafaef;
}

html {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  background-color: var(--bg);
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
  font-family: "Work Sans", sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: inherit;
  padding: inherit;
  cursor: none;
}

body {
  background-color: var(--bg);
}

.loader {
  position: absolute;
  z-index: 4;
  top: 75%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 25%;
  width: 100%;
}
.loader .load_button {
  display: flex;
  justify-content: center;
  font-weight: 700;
  letter-spacing: -0.15rem;
  text-transform: uppercase;
  opacity: 0;
}
.loader .sound_info {
  font-size: 20px;
  text-align: center;
  color: var(--fg);
  margin-top: 2%;
  margin-bottom: 2.5%;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  opacity: 0;
}

.sound_up {
  display: block;
  margin: auto;
  opacity: 0;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  contain: layout style size;
  pointer-events: none;
  mix-blend-mode: difference;
}
.cursor .before {
  position: absolute;
  top: -24px;
  left: -24px;
  display: block;
  width: 48px;
  height: 48px;
  transform: scale(0);
  background: var(--fg);
  border-radius: 100%;
}

.follow {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  contain: layout style size;
  pointer-events: none;
  mix-blend-mode: difference;
}
.follow .before {
  position: absolute;
  top: -24px;
  left: -24px;
  display: block;
  width: 48px;
  height: 48px;
  transform: scale(0);
  background: var(--fg);
  border-radius: 100%;
  mask: radial-gradient(transparent 17px, #000 18px);
  -webkit-mask: -webkit-radial-gradient(transparent 17px, #000 18px);
}

.background, .background-right {
  position: fixed;
  left: 0;
  z-index: 2;
  width: 10%;
  background-color: var(--fg);
  height: 100%;
}
.background-right {
  left: auto;
  right: 0;
  width: 10%;
}

#carousel {
  position: fixed;
  width: 80%;
  height: 100%;
  left: 15%;
  overflow: hidden;
}

.item {
  position: absolute;
  background: transparent;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.art {
  position: absolute;
  top: 100%;
  right: 0;
  transform: translate(100%, -100%);
  max-width: 75%;
  max-height: 75%;
  width: auto;
  height: auto;
}

.social {
  visibility: hidden;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 50%;
  left: 105%;
  z-index: 3;
  transform: translateY(-50%);
  filter: saturate(1722%) hue-rotate(201deg) brightness(91%) contrast(90%);
}

.social-entry {
  display: block;
  position: relative;
  max-height: 3vw;
}

.social-icon {
  width: 2vw;
  height: 3vw;
  filter: invert(7%) sepia(17%);
}

.nav_link {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 3;
  width: 640px;
  height: 640px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.underline, .underline-social {
  position: absolute;
  bottom: 4%;
  left: 0;
  background-color: #000;
  width: 0;
  height: 3px;
}
.underline-social {
  bottom: 2px;
  left: auto;
  right: 0;
  height: 2px;
}

.overline, .overline-social {
  position: absolute;
  top: 4%;
  left: 0;
  background-color: #000;
  width: 0;
  height: 3px;
}
.overline-social {
  top: 2px;
  left: auto;
  right: 0;
  height: 2px;
}

.nav_logo {
  position: absolute;
  fill: var(--fg);
}

.description {
  position: fixed;
  z-index: 1;
  top: 65%;
  left: 50%;
  width: 50vw;
  height: 30vh;
  transform: translate(-50%, -50%);
  color: var(--fg);
  font-family: "Fraunces", serif;
  font-weight: 400;
  font-size: 6vw;
  text-align: left;
}

.mute {
  display: none;
  position: fixed;
  z-index: 3;
  bottom: 3vh;
  left: 3vh;
  opacity: 0;
}
.mute .v1 {
  transform: scale(1);
}

/*# sourceMappingURL=index.css.map */
