:root {
    --bg: #1b1b2a;
    --bg_hc: #2a2a51;
    --fg: #e4e4d4;
    --fg_hc: #fafaef;
    --contrast: #f78c6c;
}

html {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    background-color: var(--bg);
    scroll-snap-type: y mandatory;
    overflow: hidden;
    font-family: 'IBM Plex Sans', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: inherit;
    padding: inherit;
    cursor: none;
}

body {
    background-color: var(--bg);
}

.loader {
    position: absolute;
    z-index: 4;
    top: 75%; bottom: 0; left: 0; right: 0;
    height: 25%; width: 100%;
    .load_button {
        display: flex;
        justify-content: center;
        font-weight: 700;
        letter-spacing: -.15rem;
        text-transform: uppercase;
        opacity: 0;
    }
    .sound_info {
        font-size: 20px;
        text-align: center;
        color: var(--fg);
        margin-top: 2%;
        margin-bottom: 2.5%;
        letter-spacing: .1rem;
        text-transform: uppercase;
        opacity: 0;
    }
}

.sound_up {
    display: block;
    margin: auto;
    opacity: 0;
}

.cursor {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    contain: layout style size;
    pointer-events: none;
    mix-blend-mode: difference;
    .before {
        position: absolute;
        top: -24px;
        left: -24px;
        display: block;
        width: 48px;
        height: 48px;
        transform: scale(0);
        background: var(--fg);
        border-radius: 100%;
    }
}

.follow {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    contain: layout style size;
    pointer-events: none;
    mix-blend-mode: difference;
    .before{
        position: absolute;
        top: -24px;
        left: -24px;
        display: block;
        width: 48px;
        height: 48px;
        transform: scale(0);
        background: var(--fg);
        border-radius: 100%;
        mask: radial-gradient(transparent 17px, #000 18px);
        //noinspection CssInvalidPropertyValue
        -webkit-mask: -webkit-radial-gradient(transparent 17px, #000 18px);
    }
}

.background {
    position: fixed;
    left: 0;
    z-index: 2;
    width: 10%;
    background-color: var(--fg);
    height: 100%;
    &-right {
        @extend .background;
        left: auto;
        right: 0;
        width: 10%;
    }
}

#carousel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 70%; height: 80%;
    left: 20%; top: 10%;
    overflow: hidden;
}

.slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slider_main {
    display: flex;
}

.timeline {
    display: flex;
    flex-direction: column;
    .tl_item {
        width: 5px;
        background-color: var(--fg);
        height: 0; // animated to 10vh
        &.active {
            background-color: var(--contrast);
        }
    }
}

.info {
    margin-left: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--fg);
    opacity: 0; // animated
    .number {
        color: var(--contrast);
        font-size: 1.5rem;
        position: relative;
    }
    .name {
        font-size: 5rem;
        position: relative;
    }
    .sub {
        font-size: 2rem;
        position: relative;
    }
    .date {
        font-size: 2.5rem;
        margin-top: 2rem;
        position: relative;
    }
    .span_bg {
        display: block;
        width: 100%; height: 100%;
        position: absolute;
        left: 0; top: 0;
        transform-origin: left;
        transform: scaleX(0);
        background-color: var(--fg);
    }
}

.name, .number, .sub, .date {
    overflow: hidden;
    p {
        position: relative;
        top: 100%;
    }
}

.next_button {
    margin-top: 15px;
    opacity: 0; // animated
    .next_text {
        color: var(--fg);
        font-size: 1rem;

    }
    .name {
        color: var(--fg);
        font-size: 1.8rem;
        margin-top: 0;
    }
}

.img_container {
    width: 50%; height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.art {
    position: absolute;
    max-width: 70%; max-height: 100%;
    right: 0;
    width: auto; height: auto;
    opacity: 0; // animated
}

.social {
    visibility: hidden;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 50%;
    left: 105%;
    z-index: 3;
    transform: translateY(-50%);
    filter: saturate(1722%) hue-rotate(201deg) brightness(91%) contrast(90%);
}

.social-entry {
    display: block;
    position: relative;
    max-height: 3vw;
}

.social-icon {
    width: 2vw;
    height: 3vw;
    filter: invert(7%) sepia(17%);
}

.nav_link {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 3;
    width: 640px;
    height: 640px;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.underline {
    position: absolute;
    bottom: 4%; left: 0;
    background-color: #000;
    width: 0; height: 3px;
    &-social {
        @extend .underline;
        bottom: 2px; left: auto; right: 0;
        height: 2px;
    }
}

.overline {
    position: absolute;
    top: 4%; left: 0;
    background-color: #000;
    width: 0; height: 3px;
    &-social {
        @extend .overline;
        top: 2px; left: auto; right: 0;
        height: 2px;
    }
}

.nav_logo {
    position: absolute;
    fill: var(--fg);
}

.description {
    position: fixed;
    z-index: 1;
    top: 65%; left: 50%;
    width: 50vw; height: 30vh;
    transform: translate(-50%, -50%);
    color: var(--fg);
    font-family: 'Fraunces', serif;
    font-weight: 400;
    font-size: 6vw;
    text-align: left;
}

.mute {
    display: none;
    position: fixed;
    z-index: 3;
    bottom: 3vh; left: 3vh;
    opacity: 0;
    .v1 {
        transform: scale(1);
    }
}